<a href="https://colab.research.google.com/github/Dawon00/Tensorflow/blob/main/%EB%B3%B4%EC%8A%A4%ED%84%B4_%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1(multi_layer_%EC%B6%94%EA%B0%80).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1.과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리 
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
            'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 2. 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10, activation='swish')(X)
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense (Dense)                (None, 10)                140
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 3.데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 18.9052
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 16.8780
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 19.4690
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 16.6725
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 18.5447
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 17.7788
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 17.5326
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 17.7118
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 17.9807
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 17.6181

In [ ]:
# 4. 모델을 이용합니다
print(model.predict(독립[5:10]))
# 종속변수 확인
print(종속[5:10])

[[25.941343]
 [23.853285]
 [22.029795]
 [15.829989]
 [21.015749]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [ ]:
# 모델의 수식 확인
print(model.get_weights())

[array([[ 3.23657393e-02,  2.46380731e-01, -4.40598905e-01,
         1.02472872e-01, -1.90004834e-03, -2.71304071e-01,
        -6.29958987e-01,  2.97995716e-01, -2.73609459e-01,
         1.91466566e-02],
       [ 4.51017320e-01, -3.53096068e-01, -2.15905905e-03,
         6.49573877e-02, -2.75571406e-01, -2.54041851e-01,
        -5.86883903e-01,  2.19612449e-01, -7.20706284e-02,
        -5.07313684e-02],
       [-4.39577103e-01, -2.13772148e-01, -4.07185256e-02,
        -2.24911362e-01,  2.11893097e-01,  3.32745433e-01,
        -2.74427921e-01, -2.44905856e-02, -3.24054390e-01,
         2.26906732e-01],
       [ 3.03990066e-01, -2.61977649e+00,  1.60617828e-02,
        -1.21990609e+00,  2.01207161e+00, -4.37861562e-01,
        -1.28564370e+00,  1.57748580e-01, -2.56745696e-01,
        -1.36596572e+00],
       [-7.53004253e-02,  1.43844247e+00,  2.16423512e-01,
        -7.67409146e-01, -7.58102953e-01, -1.19494736e-01,
         3.57412666e-01, -4.18184936e-01,  2.98697531e-01,
         1.08871019e+00],
       [-3.00031692e-01,  2.36114097e+00, -8.40142667e-02,
         4.47818995e+00,  2.81547570e+00,  1.38808668e-01,
        -2.38197184e+00,  1.49209723e-01,  2.37607181e-01,
        -2.45324111e+00],
       [ 1.02623880e-01,  1.39017895e-01,  3.49376857e-01,
        -3.88377577e-01,  3.42388272e-01, -3.66088152e-02,
        -3.48597109e-01,  2.17572823e-01, -2.73480266e-01,
         3.84755492e-01],
       [-4.09701020e-01,  1.06604397e+00, -3.36263239e-01,
        -5.04930615e-01, -4.25715715e-01,  2.27687657e-01,
         4.49121296e-01, -2.89090931e-01,  1.15538061e-01,
         1.89148858e-01],
       [ 2.62997270e-01,  9.71271470e-03,  1.31083727e-02,
         9.83099490e-02,  4.25751030e-01, -1.40690684e-01,
        -8.85503292e-02, -8.69170725e-02, -4.64390725e-01,
         3.05745721e-01],
       [-4.50164914e-01,  6.92561641e-02, -1.63529634e-01,
        -8.73330235e-02,  2.02331334e-01, -1.85392559e-01,
         1.63291126e-01, -1.13713838e-01, -4.14274693e-01,
         2.48580784e-01],
       [ 2.30971932e-01, -8.45097244e-01, -3.32330704e-01,
        -7.78586149e-01, -6.92741275e-02,  4.70033228e-01,
        -2.60095924e-01,  2.74383873e-01,  3.65371943e-01,
         2.86521524e-01],
       [-3.35144401e-02, -1.43407151e-01, -2.37997383e-01,
         2.10169837e-01, -9.12765637e-02, -4.28926945e-01,
         2.70792067e-01, -1.38879359e-01, -4.02448952e-01,
         1.68666303e-01],
       [ 4.20946658e-01,  6.08620346e-01,  2.40133166e-01,
        -3.34881216e-01, -1.76232845e-01, -3.86626959e-01,
        -2.73306012e-01,  3.75631899e-02, -6.92071319e-02,
        -7.80958056e-01]], dtype=float32), array([ 4.9778210e-16, -1.2801665e+00,  9.1028207e-19,  5.5514079e-01,
        1.1297139e+00,  0.0000000e+00, -1.2190747e+00, -1.0123166e-02,
        0.0000000e+00, -1.2539457e+00], dtype=float32), array([[-0.42793292],
       [-1.3282707 ],
       [-0.03290886],
       [ 0.8942902 ],
       [ 0.79078066],
       [ 0.51767546],
       [-0.30447719],
       [ 0.30436403],
       [ 0.057877  ],
       [-0.18642116]], dtype=float32), array([1.153921], dtype=float32)]